# 1. 필요한 라이브러리 불러오기

In [1]:
import pandas as pd

# 2. 데이터 불러오기

In [2]:
active = pd.read_excel('./origin_data/액티브 중소법인 재무보유.xlsx', sheet_name=0)  # 기업기요_외감 데이터만 불러오기
closed = pd.read_excel('./origin_data/휴폐업 중소법인 재무보유.xlsx', sheet_name=0)  # 기업개요 데이터만 불러오기
finance = pd.read_table('./origin_data/재무데이터.txt', sep='\t', encoding='cp949')
active_business_information = pd.read_excel('./origin_data/액티브 중소법인 재무보유.xlsx', sheet_name=2) # 액티브 중소법인 중 휴폐업 이력이 있는 기업들 불러오기
closed_business_information = pd.read_excel('./origin_data/휴폐업 중소법인 재무보유.xlsx', sheet_name=1) # 휴폐업 중소법인들의 휴폐업 이력 불러오기

## 2.1. 데이터 확인

### 2.1.1. 액티브 중소법인 기업개요_외감
- 행: 28982개
- 열: 28개

In [3]:
print(f"액티브 중소법인의 기업개요 데이터 row 개수: {active.shape[0]}개")
print(f"액티브 중소법인의 기업개요 데이터 feature 개수: {active.shape[1]}개")

액티브 중소법인의 기업개요 데이터 row 개수: 28982개
액티브 중소법인의 기업개요 데이터 feature 개수: 28개

### 2.1.2 액티브 중소법인 휴폐업 이력
- 행: 4827개
- 열: 5개

In [4]:
print(f"액티브 중소법인의 휴폐업 이력 데이터 row 개수: {active_business_information.shape[0]}개")
print(f"액티브 중소법인의 휴폐업 이력 데이터 feature 개수: {active_business_information.shape[1]}개")

액티브 중소법인의 휴폐업 이력 데이터 row 개수: 4827개
액티브 중소법인의 휴폐업 이력 데이터 feature 개수: 5개

### 2.1.3. 휴폐업 중소법인 기업개요
- 행: 6739개
- 열: 28개

In [5]:
print(f"휴폐업 중소법인의 기업개요 데이터 row 개수: {closed.shape[0]}개")
print(f"휴폐업 중소법인의 기업개요 데이터 feature 개수: {closed.shape[1]}개")

휴폐업 중소법인의 기업개요 데이터 row 개수: 6739개
휴폐업 중소법인의 기업개요 데이터 feature 개수: 28개

### 2.1.4. 휴폐업 중소법인 휴폐업 이력
- 행: 6840개
- 열: 5개

In [6]:
print(f"휴폐업 중소법인의 휴폐업 이력 데이터 row 개수: {closed_business_information.shape[0]}개")
print(f"휴폐업 중소법인의 휴폐업 이력 데이터 feature 개수: {closed_business_information.shape[1]}개")

휴폐업 중소법인의 휴폐업 이력 데이터 row 개수: 6840개
휴폐업 중소법인의 휴폐업 이력 데이터 feature 개수: 5개

### 2.1.5. 재무데이터
- 행: 109142개
- 열: 46개

In [7]:
print(f"재무 데이터 row 개수: {finance.shape[0]}개")
print(f"재무 데이터 feature 개수: {finance.shape[1]}개")

재무 데이터 row 개수: 109142개
재무 데이터 feature 개수: 46개

## 2.2. 데이터 확인 결과
- 액티브 중소법인의 경우 운영중인 기업들 중에서 휴폐업 이력이 있는 경우만 데이터가 수집되었기 때문에 휴폐업 이력이 있는 데이터가 더 적게 있다.
- 휴폐업 중소법인의 경우 기업개요 데이터 보다 휴폐업 이력이 더 많은데, 한 기업에서 휴폐업 이력이 여러 번 나타났을 것으로 추정된다.
    - 따라서 추후 확인이 필요할 것 같다.
- 재무 데이터는 아직까지는 큰 특징이 없었다.

### 2.2.1 휴폐업 데이터에서 휴폐업 이력이 여러 번 나타난 기업이 있는지 확인하기
- 휴폐업 데이터의 경우 기업개요와 휴폐업 이력의 개수가 맞지 않았다.
- 따라서 휴폐업 이력이 여러 번 나타났는지, 휴폐업 이력에는 있지만 기업개요에는 없는 것이 있는지 확인해본다.

In [8]:
# 기업개요 데이터와 휴폐업 이력 데이터의 사업자등록번호 비교하기
closed_biz_no = sorted(closed['BIZ_NO'].unique().tolist())
closed_business_information_biz_no = sorted(closed_business_information['BIZ_NO'].unique().tolist())

if closed_biz_no == closed_business_information_biz_no:
    print("기업개요 데이터와 휴폐업 이력이 가지고 있는 사업자등록번호가 같습니다.")
else:
    print("기업개요 데이터와 휴폐업 이력이 가지고 있는 사업자등록번호가 다릅니다.")

기업개요 데이터와 휴폐업 이력이 가지고 있는 사업자등록번호가 다릅니다.

In [9]:
# 어느 것이 더 많은 사업자등록번호를 가지고 있는지 확인하기
print(f"기업개요 데이터의 사업자등록번호 개수: {len(closed_biz_no)}개")
print(f"휴폐업 이력 데이터의 사업자등록번호 개수: {len(closed_business_information_biz_no)}개")

기업개요 데이터의 사업자등록번호 개수: 6739개
휴폐업 이력 데이터의 사업자등록번호 개수: 6746개

In [10]:
# 휴폐업 이력 데이터에만 있는 사업자등록번호 확인하기
closed_set = set(closed_biz_no)
closed_business_information_set = set(closed_business_information_biz_no)

check_closed_biz_no = closed_business_information_set.difference(closed_set)

print("휴폐업 이력에만 있는 사업자등록번호: ", end='')
print(check_closed_biz_no)

휴폐업 이력에만 있는 사업자등록번호: {1258112615, 8748701416, 1208814669, 5088109294, 1098654578, 6088175925, 4108705178}

### 2.2.2. 확인 결과
- 휴폐업 이력에만 있는 데이터는 7개다.
- 7개라 무시할 수도 있지만, 휴폐업을 예측해야하기 때문에 중요한 데이터로 사용될 여지가 있다.
- 따라서 액티브 중소법인에 해당 데이터가 있는지 확인이 필요하다.

### 2.2.3. 휴폐업 중소법인 데이터의 휴폐업 이력에만 있는 데이터가 액티브 중소법인에 있는지 확인하기

In [11]:
exist_closed_biz_no = list(check_closed_biz_no) # 휴폐업 중소법인의 휴폐업 이력에만 있는 사업자등록번호
active_biz_no = active['BIZ_NO'].unique().tolist() # 액티브 중소법인의 사업자등록번호

exist_closed_biz_no_set = set(exist_closed_biz_no)
active_biz_no_set = set(active_biz_no)

check_result = exist_closed_biz_no_set.difference(active_biz_no_set)

if check_result == check_closed_biz_no:
    print("액티브 중소법인에도 없습니다.")
else:
    print("액티브 중소법인에 있습니다.")

액티브 중소법인에도 없습니다.

### 2.2.4. 확인 결과
- 액티브 중소법인에도 없는 데이터 이므로 사용할 수 없다.
- 따라서 추후 합칠 때, 휴폐업 중소법인의 기업개요를 기준으로 휴폐업 이력 데이터와 합치기로 한다.

# 3. 파악하기 쉽도록 데이터 값 변경 해주기

## 3.1. 액티브 중소법인과 휴폐업 중소법인의 기업개요 데이터 값 변경하기

In [12]:
def change_sectors(value):
    """
    업종코드를 업종명으로 변경하는 함수입니다.
    value(str)
    ---------------------------------------
    input = 업종코드
    retrun  = 업종명
    ---------------------------------------
    A: 신용금고
    B: 은행
    C: 카드
    F: 생명보험
    I: 손해보험
    M: 제조
    O: 기타금융
    S: 증권
    V: 창업투자회사
    """
    sectors = {'A': '신용금고', 'B': '은행', 'C': '카드', 'F': '생명보험', 'I': '손해보험', 
               'M': '제조', 'O': '기타금융', 'S': '증권', 'V': '창업투자회사'}
    return sectors[value]

In [13]:
def change_company_size(value):
    """
    기업규모를 한글로 변경하는 함수입니다.
    ---------------------------------------
    input = 기업규모(범주형 숫자)
    retrun  = 기업규모(한글)
    ---------------------------------------
    1: 대기업
    2: 중소기업
    3: 기타(비영리법인)
    4: 중견기업
    5: 대기업(금융)
    6: 중견기업
    """
    company_size = {1: '대기업', 2: '중소기업', 3: '기타(비영리법인)', 4: '중견기업', 5: '대기업(금융)', 6: '중견기업'}
    return company_size[value]

In [14]:
def change_is_public_enterprise(value):
    """
    공기업구분을 한글로 변경하는 함수입니다.
    ---------------------------------------
    input = 공기업구분(범주형 숫자)
    retrun  = 공기업구분(한글)
    ---------------------------------------
    1: 공기업
    2: 일반기업
    """
    public_enterprise = {1: '공기업', 2: '일반기업'}
    return public_enterprise[value]

In [15]:
def change_is_corporation(value):
    """
    법인개인구분을 한글로 변경하는 함수입니다.
    ---------------------------------------
    input = 법인개인구분(범주형 숫자)
    retrun  = 법인개인구분(한글)
    ---------------------------------------
    1: 법인
    2: 개인
    """
    corporation = {1: '법인', 2: '개인'}
    return corporation[value]

In [16]:
def change_is_head_office(value):
    """
    본점지점구분을 한글로 변경하는 함수입니다.
    ---------------------------------------
    input = 본점지점구분(범주형 숫자)
    retrun  = 본점지점구분(한글)
    ---------------------------------------
    1: 법인
    2: 개인
    """
    head_office = {1: '본점', 2: '지점'}
    return head_office[value]

In [17]:
def change_type_of_public_institution(value):
    """
    공공기관유형을 한글로 변경하는 함수입니다.
    ---------------------------------------
    input = 국외투자법인여부(범주형 숫자)
    retrun  = 국외투자법인여부(한글)
    ---------------------------------------
    0: 해당사항없음
    9: 정부기구
    2: 공기업/준정부기관
    3: 지자체공단/공사
    """
    type_of_public_institution = {0: '해당사항없음', 9: '정부기구', 2: '공기업/준정부기관', 3: '지자체공단/공사'}
    return type_of_public_institution[value]

In [18]:
def change_establishment(value):
    """
    설립구분을 한글로 변경하는 함수입니다.
    ---------------------------------------
    input = 설립구분(범주형 숫자)
    retrun  = 설립구분(한글)
    ---------------------------------------
    1: 주식
    2: 합자
    3: 합명
    4: 유한
    5: 조합
    6: 정부투자기관
    7: 개인
    8: 학교
    9: 병원
    10: 단체.협회
    11: 미정의
    99: 기타
    """
    establishment = {1: '주식', 2: '합자', 3: '합명', 4: '유한', 5: '조합', 6: '정부투자기관', 
                    7: '개인', 8: '학교', 9: '병원', 10: '단체/협회', 11: '미정의', 99: '기타'}
    return establishment[value]

In [19]:
active_change_values = active.copy()
closed_change_values = closed.copy()

active_change_values['BZ_TYP'] = active['BZ_TYP'].apply(change_sectors)
closed_change_values['BZ_TYP'] = closed['BZ_TYP'].apply(change_sectors)

active_change_values['CMP_SCL'] = active['CMP_SCL'].apply(change_company_size)
closed_change_values['CMP_SCL'] = closed['CMP_SCL'].apply(change_company_size)

active_change_values['PBCO_GB'] = active['PBCO_GB'].apply(change_is_public_enterprise)
closed_change_values['PBCO_GB'] = closed['PBCO_GB'].apply(change_is_public_enterprise)

active_change_values['PSN_CORP_GB'] = active['PSN_CORP_GB'].apply(change_is_corporation)
closed_change_values['PSN_CORP_GB'] = closed['PSN_CORP_GB'].apply(change_is_corporation)

active_change_values['HDOF_BR_GB'] = active['HDOF_BR_GB'].apply(change_is_head_office)
closed_change_values['HDOF_BR_GB'] = closed['HDOF_BR_GB'].apply(change_is_head_office)

active_change_values['PB_ORG_TYP'] = active['PB_ORG_TYP'].apply(change_type_of_public_institution)
closed_change_values['PB_ORG_TYP'] = closed['PB_ORG_TYP'].apply(change_type_of_public_institution)

active_change_values['ESTB_GB'] = active['ESTB_GB'].apply(change_establishment)
closed_change_values['ESTB_GB'] = closed['ESTB_GB'].apply(change_establishment)

## 3.2. 액티브와 중소법인과 휴폐업 중소법인의 휴폐업 이력 데이터의 값 변경하기

In [20]:
def change_status(value):
    """
    휴폐업상태를 한글로 변경해주는 함수입니다.
    ---------------------------------------
    input = 휴폐업상태(범주형 숫자)
    retrun  = 휴폐업상태(한글)
    ---------------------------------------
    1: 부도
    2: 휴업
    3: 폐업
    4: 피합병
    5: 휴업취소
    6: 폐업취소
    """
    status = {1: '부도', 2: '휴업', 3: '폐업', 4: '피합병', 5: '휴업취소', 6: '폐업취소'}
    return status[value]

In [21]:
active_business_information_change_values = active_business_information.copy()
closed_business_information_change_values = closed_business_information.copy()

active_business_information_change_values['CLSBZ_GB'] = active_business_information['CLSBZ_GB'].apply(change_status)
closed_business_information_change_values['CLSBZ_GB'] = closed_business_information['CLSBZ_GB'].apply(change_status)

In [22]:
active_business_information_change_values['CLSBZ_GB'].value_counts()

폐업취소    1264
폐업      1239
휴업      1168
휴업취소    1155
피합병        1
Name: CLSBZ_GB, dtype: int64

In [23]:
closed_business_information_change_values['CLSBZ_GB'].value_counts()

폐업      6838
휴업취소       1
폐업취소       1
Name: CLSBZ_GB, dtype: int64

# 4. 액티브 중소법인과 휴폐업 중소법인의 기업개요, 휴폐업 이력 데이터 합치기

In [24]:
active_final = pd.merge(active_change_values, active_business_information_change_values, how='left', on='BIZ_NO')
closed_final = pd.merge(closed_change_values, closed_business_information_change_values, how='left', on='BIZ_NO')

In [25]:
data = pd.concat([active_final, closed_final], ignore_index=True)

In [26]:
data.head()

,BIZ_NO,CMP_PFIX_NM,CMP_NM,CMP_SFIX_NM,CMP_ENM,BZ_TYP,CMP_SCL,PBCO_GB,PSN_CORP_GB,HDOF_BR_GB,...,LIST_DATE,MN_BIZ_CONT,NATN_NM,HOMEPAGE_URL,CEO_NM,EMP_CNT,END_DATE,STRT_DATE,CLSBZ_GB,STAT_OCR_DATE
0,1138111739,NaN,한일가스산업,(주),"HANIL GAS IND. CO.,LTD.",제조,중소기업,일반기업,법인,본점,...,NaN,LP Gas 충전 및 판매업,NaN,www.hanilgas.com,홍순철외 1명,43.0,NaN,NaN,NaN,NaN
1,2078132193,(주),엠피아이,NaN,"EMPIALEE CO.,LTD.",제조,중소기업,일반기업,법인,본점,...,NaN,가죽 및 대용가죽제품 제조업,NaN,www.mastercnd.co.kr,이스테판상수외 1명,35.0,NaN,NaN,NaN,NaN
2,1318167565,NaN,도영운수,(주),"DOYOUNG TRANSPORTATION CO.,LTD.",제조,중소기업,일반기업,법인,본점,...,NaN,시내버스업,NaN,transport@naver.com,김명화,149.0,NaN,NaN,NaN,NaN
3,5048128251,(주),중원산업,NaN,"JOONGWON INDUSTRIAL CO.,LTD.",제조,중소기업,일반기업,법인,본점,...,NaN,자동차 부품 제조,NaN,www.koreajw.com,김명구,75.0,NaN,NaN,NaN,NaN
4,1098164260,(주),카타나골프,NaN,"CATANA GOLF CO.,LTD.",제조,중소기업,일반기업,법인,본점,...,NaN,골프용품 전반의 제조 및 수출업,NaN,NaN,김홍득,3.0,NaN,NaN,NaN,NaN

In [27]:
# column명 변경하기
df_column = pd.read_excel('./origin_data/넘블 챌린지 개방데이터 레이아웃.xlsx', sheet_name=0)

In [28]:
df_column = df_column[['영문칼럼명', '한글칼럼명']].iloc[:33]
df_column = df_column.drop_duplicates().reset_index(drop=True)

In [29]:
df_column

              영문칼럼명               한글칼럼명
0            BIZ_NO             사업자등록번호
1       CMP_PFIX_NM               기업접두명
2            CMP_NM                 기업명
3       CMP_SFIX_NM               기업접미명
4           CMP_ENM               기업영문명
5            BZ_TYP                  업종
6           CMP_SCL                기업규모
7           PBCO_GB  공기업구분 1.공기업 2.일반기업
8       PSN_CORP_GB    개인법인구분 1.법인 2.개인
9        HDOF_BR_GB    본점지점구분 1.본점 2.지점
10  FR_IVST_CORP_YN            국외투자법인여부
11          VENT_YN              벤처기업여부
12          LIST_CD                상장코드
13      IND_CD_ORDR              산업코드차수
14          IND_CD1               산업코드1
15          IND_CD2               산업코드2
16          IND_CD3               산업코드3
17       PB_ORG_TYP              공공기관유형
18    MDSCO_PRTC_YN            중견기업보호여부
19      HDOF_CMP_CD              본점기업코드
20        ESTB_DATE                설립일자
21          ESTB_GB                설립구분
22        LIST_DATE                상장일자
23      MN_BIZ_CONT              주요사업내용
24          NATN_NM                 국가명
25     HOMEPAGE_URL             홈페이지URL
26           CEO_NM                대표자명
27          EMP_CNT                 직원수
28         END_DATE                종료일자
29        STRT_DATE                시작일자
30         CLSBZ_GB               휴폐업구분
31    STAT_OCR_DATE              상태발생일자

In [30]:
data_columns = data.columns.tolist()
origin_columns = df_column['영문칼럼명'].values
new_data_columns = []
for col_name in data_columns:
    if col_name in origin_columns:
        new_data_columns.append(df_column.loc[df_column['영문칼럼명'] == col_name]['한글칼럼명'].values[0])
    else:
        new_data_columns.append(col_name)

In [31]:
data.columns = new_data_columns

In [32]:
print(f"합친 후 데이터의 크기: {data.shape}")

합친 후 데이터의 크기: (36316, 32)

# 5. 데이터 정합성 파악하기
- 휴폐업 데이터의 경우, 이력성으로 데이터가 쌓이고, 다양한 입수처로부터 정보를 수집하기 때문에 데이터의 정합성이 맞지 않는 경우가 있을 수 있다.
- 따라서 추후 모델링에 악영향을 끼칠 수 있기 때문에 신뢰성있는 가장 최신의 데이터만 사용한다.

In [33]:
# 휴폐업 이력이 있거나 (휴폐업구분의 값에 업이 들어간 경우(휴업, 폐업, 휴업 취소, 폐업 취소)),
# 종료일자가 99991231이 아닌 경우(최신 데이터가 아닌 경우)에 해당하는 row의 index 추출
drop_idx = data.loc[(data['휴폐업구분'].str.contains('업')) & (data['종료일자'] != 99991231.0)].index

# 추출한 index를 drop
df_drop = data.drop(drop_idx)

In [34]:
print(f"정합성이 맞지 않는 {data.shape[0] - df_drop.shape[0]}개의 데이터가 제거되었습니다.")
print(f"제거 후 데이터프레임의 크기 {df_drop.shape}")

정합성이 맞지 않는 595개의 데이터가 제거되었습니다.
제거 후 데이터프레임의 크기 (35721, 32)

In [35]:
# 액티브와 휴폐업 합치고 내보내기
df_drop.to_csv('./custom_data/active_closed_all.csv', encoding='cp949', index=False)

# 5. 재무 데이터와 비재무 데이터(기업 개요) 합치기
- 기업 당 사업자등록번호가 고유한 값이기 때문에 사업자등록번호를 기준으로 합친다.

In [36]:
finance.shape[0], df_drop.shape[0]

(109142, 35721)

In [37]:
finance.columns

Index(['사업자번호', '결산년월', '유동자산', '매출채권', '비유동자산', '유형자산', '자산총계', '유동부채',
       '비유동부채', '부  채  총  계', '자본금', '이익잉여금(결손금）', '자본총계', '매출액', '판매비와관리비',
       '영업이익（손실）', '법인세비용차감전순손익', '법인세비용', '당기순이익(손실)', '기업순이익률(%)',
       '유보액/총자산(%)', '유보액/납입자본(%)', '매출액총이익률(%)', '매출액영업이익률(%)', '매출액순이익률(%)',
       '수지비율(%)', '경상수지비율', '영업비율(%)', '금융비용대매출액비율(%', '금융비용대부채비율(%)',
       '금융비용대총비용비율(%', '부채비율(%)', '차입금의존도(%)', '자기자본비율(%)', '순운전자본비율(%)',
       '유동부채비율(%)', '비유동부채비율(%)', '부채총계대 매출액(%)', '총자본회전율(회)', '재고자산회전율(회)',
       '매출채권회전율(회)', '매입채무회전율(회)', '미수금', '매출원가', '무형자산', '재고자산'],
      dtype='object')

In [38]:
# 데이터를 합칠 key에 해당하는 feature name 변경
finance.rename(columns={'사업자번호':'사업자등록번호'}, inplace=True)

- 기업의 연도별 결산 데이터를 확인해야하기 때문에 재무 데이터를 기준으로 두고 기업 개요 데이터를 합친다.

In [39]:
financial_and_corporation = pd.merge(finance, df_drop, how='inner', on='사업자등록번호')

In [40]:
print(f"재무 데이터와 비재무 데이터를 합친 후 크기: {financial_and_corporation.shape}")

재무 데이터와 비재무 데이터를 합친 후 크기: (109142, 77)

# 6. 내보내기

In [41]:
financial_and_corporation.to_csv('./custom_data/base_data.csv', encoding='cp949', index=False)